# Text editor files
*.sublime-workspace

# Output files and development files
vagrant-config.yml
vagrant-wizard.yml
vagrant-wizard.default.yaml
vagrantfile

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
